#
# Open AI Access
#
OPENAI_API_KEY=<put your key here>

#
# Public Camunda Cloud Access
#
# Uncomment and put your public cloud values
# If you do so, comment local zeebe block below.
#ZEEBE_CLIENT_CLOUD_CLUSTER-ID=<cluster-id>
#ZEEBE_CLIENT_CLOUD_CLIENT-ID=<client-id>
#ZEEBE_CLIENT_CLOUD_CLIENT-SECRET=<client-secret>
#ZEEBE_CLIENT_CLOUD_REGION=bru-2

#
# Started from Docker compose using local Zeebe
# This is the connection to Zeebe running from docker compose
ZEEBE_CLIENT_BROKER_GATEWAY-ADDRESS=zeebe:26500
CAMUNDA_OPERATE_CLIENT_URL=operate:8080
ZEEBE_CLIENT_SECURITY_PLAINTEXT=true


#
# Environment for start from IDEA using this properties file
#
# ZEEBE_CLIENT_BROKER_GATEWAY-ADDRESS=localhost:26500
# CAMUNDA_OPERATE_CLIENT_URL=localhost:8080
# ZEEBE_CLIENT_SECURITY_PLAINTEXT=true
