#
# API Keys
#
#ANTHROPIC_API_KEY=<put your key here>
OPENAI_API_KEY=<put your key here>

#
# Environment to run in public Camunda Cloud
#
# Uncomment and put your public cloud values
# If you do so, comment local zeebe block below.
#
#ZEEBE_CLIENT_CLOUD_CLUSTER_ID=<cluster-id>
#ZEEBE_CLIENT_CLOUD_CLIENT_ID=<client-id>
#ZEEBE_CLIENT_CLOUD_CLIENT_SECRET=<client-secret>
#ZEEBE_CLIENT_CLOUD_REGION=<cluster-region>

#
# Environment to start from Docker compose using local zeebe
#
#ZEEBE_CLIENT_BROKER_GATEWAY_ADDRESS=zeebe:26500